#This is for your reference

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
PORT=3000
NODE_ENV=development
JWT_SECRET=
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=24h
ENCRYPTION_KEY=
PASSWORD_HASH=
RATE_LIMIT_WINDOW_MS=
RATE_LIMIT_MAX=